html {
  background-color: #000;
  opacity: 0.9;
}

main {
  background: url('https://twigtea.files.wordpress.com/2022/03/img_1602.jpg') center;
  background-size: cover;
  padding-top:2rem;
  padding-bottom:50px;
  min-height: 300px;
}

.App {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 3rem;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 40%;
  background-color: #111;
  padding: 2rem;
}

button {
  background-color: #ffccff;
  color: black;
  border: 0;
  border-radius: 100px;
  height: 44px;
  padding: 6px 20px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
}

button:hover {
  background-color: rgb(222, 178, 246);
}

a {
  color: #ffccff;
  text-decoration: none;
}

footer {
  padding: 2rem;
}

.user-icon {
  height: 30px;
  float: left;
  border-radius: 100%;
  padding-right: 5px;
  left: -5px;
  position: relative;
}

.pink {
  color: #ffccff;
}

