.playlistName {
    background-color: #242424;
    border: 0;
    border-radius: 100px;
    color: #fff!important;
    height: 44px;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}